<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
    <div class="file-uploader" data-role="drop-zone" css="_loading: isLoading">
        <div class="file-uploader-area">
            <span class="file-uploader-spinner"/>
            <input hidden="hidden" type="file" 
                    afterRender="onElementRender" 
                    attr="id: uid, name: fileInputName, multiple: isMultipleFiles"
            />
            <label class="file-uploader-button action-secondary" attr="for: uid" translate="'Browse Files...'"/>
        </div>
        <each args="data: value, as: '$file'">
            <div class="file-uploader-summary">
                <div class="file-uploader-filename">
                    <!-- ko if: $file.url --><a attr="href: $file.url" target="_blank" text="$file.name"/><!-- /ko -->
                    <!-- ko if: !$file.url --><text args="$file.name"/><!-- /ko -->
                    (<text args="$parent.formatSize($file.size)"/>)
                </div>
            </div>
        </each>
        <span class="error" translate="'This is a required field.'"></span>
    </div>
